[Unit]
Description=PilotPanel Control Panel
After=network.target

[Service]
User=root
WorkingDirectory=/var/www/pilotpanel/airlink/panel/panel-main
EnvironmentFile=/var/www/pilotpanel/.env
ExecStart=/usr/bin/node dist/app.js
Restart=always
RestartSec=5
Environment=PATH=/usr/bin:/usr/local/bin:/bin

[Install]
WantedBy=multi-user.target
