<%# 
  Page Title Component
  Parameters:
  - title: The main title of the page
  - description: The description text below the title
%>
<div class="sm:flex-auto">
  <h1 class="text-base font-medium leading-6 text-neutral-800 dark:text-white"><%= title %></h1>
  <p class="mt-1 text-sm text-neutral-500 dark:text-neutral-300"><%= description %></p>
</div>
